@font-face {
  font-family: "iconfont"; /* Project id 2609012 */
  src: url('iconfont.woff2?t=1623835942236') format('woff2'),
       url('iconfont.woff?t=1623835942236') format('woff'),
       url('iconfont.ttf?t=1623835942236') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e60f";
}

.icon-wode:before {
  content: "\e61a";
}

.icon-fenlei:before {
  content: "\e64e";
}

.icon-gouwuche:before {
  content: "\e699";
}

.icon-zhuye:before {
  content: "\e62d";
}

